@model IEnumerable<webCadastro.Models.Cadastro>
@{
    ViewData["Title"] = "Index";
}

<div>
    @if (Model != null)
    {
        <table class="table" id="tblPessoas">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Endereço
                    </th>
                    <th>
                        Bairro
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        CEP
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Nome)</td>
                        <td>@Html.DisplayFor(x => item.Endereco)</td>
                        <td>@Html.DisplayFor(x => item.Bairro)</td>
                        <td>@Html.DisplayFor(x => item.Estado)</td>
                        <td>@Html.DisplayFor(x => item.Cep)</td>
                        <td>@Html.DisplayFor(x => item.Status)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>